.analisis-container{
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vw;
    width: 100%;
    height: 80vh;
    border-radius: 1em;
    transition: .5s ease;
    padding-right: 5vw;
    box-shadow: 0 0 40px  rgba(0, 0, 0, 0.658);
}
.analisis-container:hover{
    background-color: rgb(56, 52, 52);
    box-shadow: 0 0 45px  rgb(0, 0, 0);
    transform: scale(1.03);
}
*:focus {
  outline: none;
}

h2{
    margin-bottom: 1.5rem !important;
}