
body {
  background-color: #252525 !important; 
  color: #C9D1D9 !important;            
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  background-color: #3f4e61;
  padding: 10px 15px !important;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
    box-shadow: 0 0 40px  rgba(0, 0, 0, 0.658);
  transition: .3s linear;
}
.container:hover{
  box-shadow: 0 0 40px  rgba(0, 0, 0, 0.904);
}

h1 {
  text-align: center;
  margin-top: 2vh !important;
  color: #C9D1D9;

}
.table-container{
  box-shadow: 0 0 40px  rgb(0, 0, 0);
  background-color: #bebebe;
  border-radius: 8px;
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}
.table {
  font-size: 1.2em;
  border-radius: 8px;
  border-spacing: 0;
  width: 100%;
}
  

.table th {
  background-color: #b8b8b8  !important; 
  text-align: center !important;  
}
.table thead {
  white-space: normal;
}
.table thead tr th:first-child {
  border-top-left-radius: 20px;
  width: 30%;
}
.table thead tr th:last-child {
  border-top-right-radius: 20px;
}
.table td {
  text-align: center;
  padding: 2vh  !important;
  border-top: 1px solid #30363D;
  border-right: 1px solid #5a5a5a1a;
}


.table tbody tr:hover {
  background-color: #21262D; /* hover filas */
}

.btn-secondary {
  background-color: #58A6FF;
  border: none;
}

.btn-secondary:hover {
  background-color: #1B6BFF;
}

/* Span de paginación */
span {
  color: #C9D1D9;
  font-weight: bold;
  margin: 0 10px;
  font-size: 1.2em;
}

/* --- Responsive --------------------------- */
@media (max-width: 768px) {
  .table-container {
    font-size: 0.85rem;
  }

  .table thead {
    white-space: nowrap;
  }

  .table td, .table th {
    padding: 10px !important;
  }
}